.header {
  position: relative;
  height: 4rem;
  line-height: 4rem;
  background-color: #333;
  color: #fff;
  padding: 0 1rem;
}

.header .logo {
  height: 100%;
  float: left;
  margin-right: 3rem;
}

.header .nav {
  height: 100%;
  float: left;
}

.header .nav-item {
  height: 4rem;
  float: left;
  color: #fff;
  padding: 0 1rem;
}

.header .nav-item:hover {
  background-color: #eee;
  color: #333;
}

.nav-btn {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.banner {
  position: relative;
  height: 40rem;
  background: url(../img/banner.webp) no-repeat center/cover;
  margin-bottom: 2rem;
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: -5rem;
  margin-left: -5rem;
  border-radius: 50%;
  transition: all .5s;
  background-color: #fff;
}

.avatar:hover {
  transform: rotate(180deg);
}

.avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8rem;
  height: 8rem;
  margin-top: -4rem;
  margin-left: -4rem;
  border-radius: 50%;
}

.main {
  width: 120rem;
  height: 100vh;
  margin: 0 auto;
}

.menu {
  width: 122rem;
  margin-left: -1rem;
}

.menu-item {
  width: 25%;
  float: left;
  padding: 0 1rem;
  border: .1rem solid transparent;
}

.menu-item a {
  display: block;
}

.menu-item img {
  width: 100%;
}
