.menu {
  position: fixed;
  left: 10000px;
  top: 10000px;
  width: 100px;
  box-shadow: 0 0 4px 4px #ccc;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px 0;
  background-color: #fff;
}

.menu.hidden {
  display: none;
}

.menu-item {
  padding: 8px 0 8px 10px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #ccc;
}